{% extends "__wraper/index.html"%}
{% block main%}
   <div class="admin">
      <form class="adminform" method="POST">
         <div class="formdata">
            <label for="forname">Ime</label>
            <input type="text" id="forname" placeholder="Ime" name="forname" required>
         </div>
         <div class="formdata">
            <label for="surname">Prezime</label>
            <input type="text" id="surname" placeholder="Prezime" name="surname" required>
         </div>
         <div class="formdata">
            <label for="username">Korisincko Ime</label>
            <input type="text" id="username" placeholder="Korisnicko Ime" name="username" required>
         </div>
         <div class="formdata">
            <label for="email">Email</label>
            <input type="email" id="email" placeholder="Email" name="email">
         </div>
         <div class="formdata">
            <label for="phone">Telefon</label>
            <input type="text" id="phone" placeholder="Telefon" name="phone">
         </div>
         <div class="formdata">
            <label for="password">Lozinka</label>
            <input type="password" id="password" placeholder="Lozinka" name="password" required>
         </div>
         <div class="formdata">
            <label for="password_again">Lozinka</label>
            <input type="password" id="password_again" placeholder="Ponovi Lozinku" name="password_again" required>
         </div>
         <div class="formdata">
            <button type="submit" class="buttonreg">Registruj Korisnika</button>
         </div>
      </form>
   </div>
{% endblock %}