{% extends "__wraper/index.html"%}

{% block main%}
    <div class="container">
       <div class="content">
           <div class="user"> {{ session }}</div>
          <form method="POST">
              <input type="text" placeholder="unesite broj naloga..." autocomplete="off" name="numberdoc" pattern="[0-9]{12}" id="numberdocumnetation" title="Broj naloga mora sadrzaati tacno 12 brojeva">
              <input type="number" placeholder="unesite kolicinu naloga..." name="sumdoc" min="1" step="1" value="1">
              <select name="define">
                  <option value="1">Gorenje</option>
                  <option value="2">Smeg</option>
                  <option value="3">Hisense</option>
                  <option value="4">Franke</option>
                  <option value="5">Sumit</option>
              </select>
              <input type="text" placeholder="upsi serijski broj specijalnog kupca..." autocomplete="off" name="specnumberdoc">
              <div id="allcheck">
              <div class="checkboxdoc">
                  <div class="checknumber">
                      <input type="checkbox" name="number348805" id="num348805">348805
                      <input type="number" name="number348805s" class="number" min="1" step="1" value=1>
                  </div>
                  <div class="checknumber">
                      <input type="checkbox" name="number348804">348804
                      <input type="number" name="number348804s" class="number" min="1" step="1" value="1">
                  </div>
                  <div class="checknumber">
                      <input type="checkbox" name="number656361">656361
                      <input type="number" name="number656361s" class="number" min="1" step="1" value="1">
                  </div>
                  <div class="checknumber">
                      <input type="checkbox" name="number327082">327082
                      <input type="number" name="number327082s" class="number" min="1" step="1" value="1">
                  </div>
                  <div class="checknumber">
                      <input type="checkbox" name="number523341">523341
                      <input type="number" name="number523341s" class="number" min="1" step="1" value="2">
                  </div>
              </div>
              <div class="checkboxdoc">

              </div>
                  <div class="checkboxdoc">

                  </div>
              </div>
              <button type="submit">Upisi nalog</button>
          </form>
           <input type="button" value="Proveri kolicine" id="checkSum">
       </div>
        <div id="prewDocSum">
           <div id="prewDocMain">
            <div class="doc">

            </div>
           </div>
            <div class="btn">
                <input type="button" value="Zatvori" id="closeInfo">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
        <script src="/stamparija/assets/javascript/regularexpre.js"></script>
{% endblock %}