{% extends "__wraper/index.html" %}
{% block main %}

   <div class="userprepare">
      <div>{{ userprepare.username }}</div>
      <div>{{ userprepare.forname}}</div>
      <div>{{ userprepare.surname }}</div>
   </div>

      <form method="POST">
         <div class="pssword">
            <input type="text"  class="inputpass" name="username" value="{{ userprepare.username }}">
            <input type="password" class="inputpass" name="password" placeholder="enter your password">
            <button type="submit">Prijavi se</button>
         </div>
      </form>



{% endblock %}

