{% extends "__wraper/index.html" %}
{% block main %}

<p class="session">{{ session }}</p>
<p id="reguser">Registrovani korisnici</p>
<div class="header">

    {% for auluse in allusers%}

            <a href="user/{{auluse.user_id}}">{{auluse.username}}</a>
    {% endfor%}
</div>

{% endblock %}