body{
    background-color: cadetblue;
}

.container{
    margin: 0px auto;
    color: white;
    width: 900px;
    margin-top: 100px;
    position: relative;
}

.header{
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;
    flex: 1;
    padding: 10px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding: 30px 0px;
}

.header a:first-child{
    border-top: 1px solid white;
}

.header a:hover{
    background-color: #4983a0;
}

#reguser{
    background-color: #4983a0;
    padding: 20px 0px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-family: Arial;
    text-align: center;
    margin:0px;
}



.userprepare{
    display: flex;
    text-align: center;
    border: 1px solid white;
}

.userprepare div{
    flex: 1;
    padding: 10px 0px;
}

.pssword{
    display: flex;
    padding: 60px 0px;
    border: 1px solid white;
    border-top: none;
    flex-direction: column;
}

.inputpass{
    flex: 1;
    padding: 10px 0px;
    opacity: 100%;
    text-align: center;
    border: none;
    margin-bottom: 6px;
}

#inputpass:focus{
    border: none;
}

.documentation{
    border: 1px solid white;
    display: flex;
    padding: 18px 0px;

}

.documentation > div{
    flex: 1;
    text-align: center;
}

.documentation  a{
    text-decoration: none;
    color: white;
}

.documentation a:hover{
    color: #27a021;
}

.formcl{
    text-align: right;
    margin-bottom: 6px;
}

.formcl form{
    display: flex;
    padding: 0px;
    margin: 0px;
}

.formcl form input[type="text"]{
    padding: 6px;
    opacity: 100%;
    text-align: center;
    flex: 2;
    margin-right: 3px;
    border: none;
}

.formcl button{
    border: none;
    padding: 1px 0px;
    background-color: white;
    font-family: Arial;
    flex: 1;
    margin-right: 3px;
}

.formcl button:last-child{
    margin-right: 0px;
}

.admin{
    border: 1px solid white;
    display: flex;
    flex-direction: column;
}

.admin .formdata{
    flex: 1;
    border-top: 1px solid white;
    display: flex;
}


.admin .formdata:first-child{
    border-top: none;
}

.admin .formdata input{
    flex: 1;
}

.admin .formdata label{
    flex: 1;
    text-align: center;
}

.admin .buttonreg{
    flex: 1;
    padding: 6px 0px;
}

.formdata{
    padding: 10px 0px;
}

.formdata input{
    padding: 5px 0px;
    text-align: center;
}

.messageReg{
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 31px;
}

.session{
    text-align: center;
}

.resultSearch{
    background-color: #4983a0;
    width: 900px;
    height: 100vh;
    text-align: center;

}

.resultSearch  a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px 0px;
    border-bottom: 1px solid white;
}

.content{
    display: flex;
    flex-direction: column;
}

.user{
    text-align: center;
    padding: 10px 0px;
    font-weight: bold;
    font-size: 31px;
}

.content form{
    display: flex;
    flex-direction: column;
}

.content form input,
.content form select,
.content form button
{
    padding: 10px 3px;
    margin-top: 6px;
}


 .mainpulated{
    display: grid;
    grid-template-areas: "user user user"
                          "numberdoc numberdoc quantity"
                          "specnum specnum brand"
                           "date date date";
     grid-template-rows: repeat(4,60px);
}

.mainpulated > div{
    border: 1px solid white;
}

.userDoc{
    grid-area: user;
 }

.numberDoc{
    grid-area: numberdoc;
}

.quantityDoc{
    grid-area: quantity;
}



.specnumberDoc{
    grid-area: specnum;
}

.brandDoc{
    grid-area: brand;
}

.createdatDoc{
    grid-area: date;
}

.userDoc,
.numberDoc,
.quantityDoc,
.specnumberDoc,
.brandDoc,
.createdatDoc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.checknumber > .number{
    width: 60px;
    height: 1px;
    text-align: center;
}

#allcheck > .checkboxdoc{
    display: inline-block;
}

#allcheck{
    text-align: center;
}

.prew{
    display: block;
    margin: 10px auto;
}

#prewDocSum{
    width: 600px;
    background-color: #4983a0;
    position: absolute;
    top: 60px;
    right: 150px;
    display: none;
    border: 1px solid white;
    padding: 30px 10px;
}

#prewDocMain{
    display: flex;
    flex-direction: column;
}

.doc{
    flex: 1;
    padding: 10px;
    display: flex;
    text-align: center;
}

.number,.sum{
    border: 1px solid white;
    flex: 1;
    padding: 6px 0px;
}
.btn{
    text-align: center;
    padding: 10px 30px;
}

.btn > input[type="button"]{
    padding: 10px 30px;
}

