<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deployment...</title>
    <link type="text/css" rel="stylesheet" href="/stamparija/assets/css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <div class = "container">
        {% block main %}
        {% endblock %}
    </div>

    {% block javascript %}
    {% endblock %}

</body>
</html>