{% extends "__wraper/index.html"%}

{% block main%}
    <form method="POST">
        <div class="mainpulated">
            <div class="numberDoc">Brij naloga: {{ docdata.number_documentation }}</div>
            <div class="quantityDoc">Kolicina: {{ docdata.quantity}}</div>
            <div class="createdatDoc">Datum upisivanja naloga: {{ docdata.created_at }}</div>
            <div class="specnumberDoc">Broj specijalnog kupca: {{ docdata.spec_number_doc}}</div>
            <div class="brandDoc">Brend: {{ brand.brand_name}}</div>
            <div class="userDoc">Korisnik: {{ user.username}}</div>
        </div>
    </form>
{% endblock %}