{% extends "__wraper/index.html"%}

{% block main%}
    <div class="container">
        <div class="formcl">
            {{ session }}
            <form  method="POST">
                <input type="text" name="searchVal" placeholder="pretraga..." id="inputSearch" autocomplete="off" >
                <button type="submit" name="userpanel">Korisnicki Panel</button>
                <button type="submit" name="logout">Odjavi se</button>

            </form>
        </div>
        <div id="resltDoc">
        {% for alld in alldoc %}

            <div class="documentation">

                <div><a href="doc/{{ alld.number_documentation }}">{{ alld.number_documentation}}</a> </div>
                <div>{{ alld.quantity}}</div>
                <div>{{ alld.created_at}}</div>
                <div>{{ alld.username }}</div>

            </div>

        {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="/stamparija/assets/javascript/serarchDoc.js"></script>
{% endblock %}